.pad{
    padding-left: 350px;
}
.padButton{
    padding-bottom: 40px;
}
.pad1{
    padding-left: 600px;
}
.pad2{
    padding-left: 50px;
}
.pad3{
    padding-left: 20px;
}
.cell{
    margin-left: 0px;
    margin-right: 0px;
}
.CartImgSize{
    width: 140px;
    height:90px
}

.total{
	padding-bottom: 50px;
}