.pad{
    padding-left: 350px;
}
.padHeader{
    padding-bottom: 40px;
}
.pad1{
    padding-left: 650px;
}
.pad2{
    padding-left: 50px;
}
.pad3{
    padding-left: 20px;
}
.cell{
    margin-left: 0px;
    margin-right: 0px;
}
.CartImgSize{
    width: 130px;
    height: 130px;
}

.padTotal{
    padding-top: 50px;
    padding-bottom: 20px;
}

.padButton{
    padding-left: 650px;
}

.panel-empty {
    padding-top: 15px;
    padding-bottom: 15px;
    background:#DCDCDC;
}